body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    "header header"
    "main aside"
    "main aside";
}

.navbar{
    grid-area: header;
}

.pessoas{
    grid-area: aside;
    justify-self: left;
}

.principal{
    grid-area: main;
    justify-self: right;
}