.navebar{
    height: 50px;
    background: var(--fundo-card);
    display: flex;
    justify-content: space-around;
}

section.navebar{
  gap: 590px;
}

.navebar__busca{
    width: 370px;
    display: flex;
    align-items: center;
    position: relative;
}

.navebar__logo__linkedin{
    cursor: pointer;
    background-image: url("../assets/logo-linkedin.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
    margin-right: 8px;
}

.navebar__busca__icone{
    width: 24px;
    height: 24px;
    background-image: url("../assets/lupa.svg");
    position: absolute;
    left: 15%;
    top: 33%;
    background-repeat: no-repeat;
}

.navebar__input{
    width: 280px;
    height: 34px;
    background: var(--input);
    border: none;
    border-radius: .3rem;
    padding-left: 2.4rem;
}

.navebar__input::placeholder{
    color: var(--fonte-primaria);
}

.navebar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navebar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navebar__item:last-child{
    margin-left: .2rem;
    border-left: 1px solid var(--fonte-primaria);
}

.item__icone{
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.navebar__item a{
    text-align: center;
    width: 80px;
    font-size: .8rem;
    color: var(--texto-secundario);
    transition: color .3s ease;
}

.navebar__item a:hover{
    color: var(--fonte-primaria);
}

span.inicio{
    background-image: url('../assets/icone-inicio.svg');
  }
  span.minha__rede{
    background-image: url('../assets/Minha-rede.svg');
  }
  span.vagas{
    background-image: url('../assets/icone-vagas.svg');
  }
  span.mensagem{
    background-image: url('../assets/mensagens.svg');
  }
  span.notificacao{
    background-image: url('../assets/notificacoes.svg');
  }
  span.solucoes{
    background-image: url('../assets/solucoes.svg');
  }

  @media(max-width: 1024px){
    section.navebar{
      padding: 0 4rem;
    }
  
    .navebar__input{
      display: none;
    }
  
    .navebar__busca__icone{
      transform: translate(100%, -20%);
    }
  
    .navebar__busca__icone::before{
      content: "Pesquisar";
      color: var(--texto-secundario);
      font-size: .75rem;
      position: absolute;
      left: 50%;
      transform: translate(-40%, 165%);
    }
  
    .navebar__busca__icone::before:hover{
      color: var(--texto-principal);
    }
  }
  
  @media(max-width: 680px){
    .navebar__busca__icone{
      display: none;
    }
  }