@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url("../style/header.css");
@import url("../style/perfil.css");
@import url("../style/destaque.css");
@import url("../style/aside.css");

:root {
    --fundo-escuro: #000;
    --fundo-mais-claro:#2c3033;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --cor-branca: #ffffff;
    --font-primaria: 'Roboto', sans-serif;
}

body{
    font-family: var(--font-primaria);
    font-weight: 400;
    display: block;
    /*background-color: var(--fundo-mais-claro);*/
}